<article class="recipe-detail">
    <img src="{{post.image}}"
        alt="image">
    <h2>{{post.title}}</h2>
    <p>{{post.description}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Ingredients:</h3>
    <p>{{post.ingredients}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Instructions:</h3>
    <p>{{post.instructions}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>People Who Recommend: {{interactionCount}}</h3>
</article>
{{#if isLoggedIn}}
<div class="command">
    {{#if isAuthor}}
    <a href="/catalog/{{post._id}}/edit">Edit</a>
    <a href="/catalog/{{post._id}}/delete">Delete</a>
    {{else}}
        {{#if hasInteracted}}
            <p>You've already recommended this recipe!</p>
        {{else}}
            <a href="/catalog/{{post._id}}/interact">Recommend</a>
        {{/if}}
    {{/if}}
</div>
{{/if}}